* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(125, 99, 8);
  color: rgb(62, 19, 19);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.7em;
}
.container {
  background-color: rgb(172, 155, 94);
  width: 400px;
  height: 550px;
  padding-top: 5px;
  padding-right: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: none;
  border-radius: 10px;
  -webkit-perspective: 300px;
  perspective: 300px;
}
h1 {
  line-height: 1em;
  margin-bottom: 0;
  padding: 20px 10px 25px 10px;
  font-size: 3.5em;
  font-weight: bold;
}
h2 {
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 0;
}
label {
  font-size: 0.8em;
}
h3 {
  font-size: 1.1em;
  padding-top: 20px;
  padding-bottom: 5px;
  margin: 10px 0 2px 0;
}
h6 {
  font-size: 0.8em;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 10px 0 2px 0;
}
table {
  margin: 2% auto;
  border-collapse: collapse;
}
#table_game {
  position: relative;
  font-size: 120px;
  margin: 1% auto;
  border-collapse: collapse;
}
.td_game {
  border: 4px solid rgb(62, 19, 19);
  width: 90px;
  height: 90px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
.fixed {
  width: 90px;
  height: 90px;
  line-height: 90px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
#computer_score {
  padding-top: 25px;
}
.td_list {
  font-size: 1.3em;
  font-weight: bold;
  display: block;
}
#restart {
  font-size: 6em;
  width: 1em;
  height: 0.9em;
  cursor: pointer;
  margin: 0 auto;
  overflow: hidden;
}
